
	/* remove blue glow */
button {
    outline: none;
}

/* filtering buttons */
button.filtering {
    border:none;
    margin:5px;
    padding:8px 14px 7px;
    font-size:.9em;
    color:#999;
}

button.filtering:hover {
    color:#999;
    border-bottom: 3px solid #fde3a7;
}

button.button.is-checked{
    color:#333;
    border-bottom: 3px solid #fde3a7;
    background-color: #ffffff;
    font-weight: bold;
}

button {
    background-color: #ffffff;
}


.thumbs {
width:165px;
height:165px;
margin-left:5%;
margin-top:20px;
margin-bottom:75px;
border-radius: 50%;
float: left;
}

				.thumbs:hover {
				opacity:.6;
				-webkit-transition: opacity 1s;
				transition: opacity .8s;
				}

.shadow {
   -moz-box-shadow:    inset 0 0 15px #cccccc;
   -webkit-box-shadow: inset 0 0 15px #cccccc;
   box-shadow:         inset 0 0 15px #cccccc;
}

.title {
				position:relative;
				margin:auto;
				top:5px;
				width:165px;
				text-align: center;
				font-size:12px;
				line-height:4px;
				font-family: 'Roboto Condensed', sans-serif;
				margin-top:130pt;
				color: black;
				}


  .icons {
		width: 33.333%;
		height: 0;
		padding-bottom: 23.3%;
        margin-left: 5px;
		margin-bottom: 10px;
		float: left;
		position: relative;
		margin: 8px 0;
  }


	.work-tile-img {
		top: 0;
		bottom: 0;
		left: 8px;
		right: 8px;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px solid #dddddd;        
	}

	.full-tile-link {
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
	}
	.absolute-center-text {
		position: absolute;
		top: 0;
		left: 0;
		display: table;
		height: 100%;
		width: 100%;
	}
	.table-center-text {
		display: table-cell;
		vertical-align: bottom;
		text-align: center;
	}
	.tile-description {
		overflow: hidden;
		height: 100%;
		width: 100%;
		opacity: 0;
		display: block;
		top: 0;
		margin: 0;
		-webkit-transition: opacity .3s ease-in-out;
		-moz-transition: opacity .3s ease-in-out;
		transition: opacity .3s ease-in-out;
	}
		.tile-description.teal {
			background-color: #66c896;
		}
		.tile-description.red {
			background-color: #db6b6a;
		}
		.tile-description.yellow {
			background-color: #0d6381;
		}
		.tile-description.blue {
			background-color: #000000;
		}
		.work-tile-img .tile-description {
			opacity: 0;
		}

.title-tile-background {
    background-color: #333333;
    height:50px;
    margin-top: -39px;
    border: 1px solid #333333;  
}

.tile-title {
    font-family: Open Sans;
    font-weight: bold;
    margin-top: 7px;
    font-size: 13px;
    text-align: center;
    color: #333333;
}

.tile-company-title {
    font-family: Open Sans; 
    font-size: 10px;
    font-style: italic;
    text-align: center;
    color: #999;
}


.work-tile-img:hover .tile-description {
    opacity: 0;  
    background-size:500%;
		}

	.tile-description p {
		color: #ffffff;
		text-align: center;
		font-weight: 500;
		font-size: 13px;
		line-height: 5px;
		text-transform: uppercase;
        font-style: italic;
		letter-spacing: 1px;
		margin-bottom: 0;
        margin-top: -13px;
	}

	.tile-description h3 {
		color: #ffffff;
		text-align: center;
		font-weight: 500;
		font-size: 13px;
		line-height: 5px;
        font-style: italic;
		letter-spacing: 1px;
		margin-bottom: 0;
	}


/* SPECIFIC TILES */

	#card-connection {
		background-image: url(../images/wallet.jpg);
            background-size: 240%;
            background-position-x: 51%;
            background-position-y: 14%;
	}

	#card-connection:hover {
		background-image: url(../images/wallet.jpg);
            background-size: 246%;
            background-position-x: 51%;
            background-position-y: 14%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

#fashion-guru {
		background-image: url(../images/yslbag.jpg);
    background-size: 126%;
    background-position-y: -36%;
    background-position-x: 65%;
    background-color: #e5e5e5;
	}

#fashion-guru:hover {
		background-image: url(../images/yslbag.jpg);
            background-size: 131%;
            background-position-y: -36%;
    background-position-x: 65%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

#amazon-process {
		background-image: url(../images/amazonboxes.jpg);
    background-size: 101%;
    background-position-y: -90px;
	}

	#amazon-process:hover {
		background-image: url(../images/amazonboxes.jpg);
            background-size: 106%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

#donorpath-redesign {
		background-image: url(../images/newdptile.jpg);
    background-size: 140%;
	}

#donorpath-redesign:hover {
		background-image: url(../images/newdptile.jpg);
            background-size: 146%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

#weather-or-not {
		background-image: url(../images/weathertile.jpg);
    background-size: 110%;
	}

#weather-or-not:hover {
		background-image: url(../images/weathertile.jpg);
            background-size: 115%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

#bean {
		background-image: url(../images/newbeancup.jpg);
    background-size:110%;
    background-position-y: -70px;
	}

#bean:hover {
		background-image: url(../images/newbeancup.jpg);
            background-size: 115%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

#hci454 {
		background-image: url(../images/hatrack.jpg);
    background-size: 100%;
        background-position-y: -55px;
	}

#hci454:hover {
		background-image: url(../images/hatrack.jpg);
            background-size: 105%;
    background-position-y: -55px;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

	#fruit-benefits {
		background-image: url(../images/imac.jpg);
            background-size:150%;
    background-position-y: 24%;
	}

	#fruit-benefits:hover {
		background-image: url(../images/imac.jpg);
            background-size: 155%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

	#smoking-kills {
		background-image: url(../images/magazine.jpg);
        background-size:150%;
        background-position-y: -41px;
        background-position-x: -65px;
	}

	#smoking-kills:hover {
		background-image: url(../images/magazine.jpg);
            background-size: 155%;
                background-position-y: -41px;
        background-position-x: -75px;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

	#print-flyer {
		background-image: url(../images/box.jpg);
        background-size: 315%;
        background-position-y: 75%;
	}

#print-flyer:hover {
		background-image: url(../images/box.jpg);
            background-size: 327%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}
	
		#old-registration {
		background-image: url(../images/oldDP.jpg);
        background-size: 100%;
	}
	
			#new-registration {
		background-image: url(../images/newDP.jpg);
        background-size: 100%;
	}


	#retailmenot {
		background-image: url(../images/mdothomepage.jpg);
        background-size: 115%;
	}

	#retailmenot:hover {
		background-image: url(../images/mdothomepage.jpg);
            background-size: 121%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

	#wgn {
		background-image: url(../images/ipad.jpg);
        background-size: 175%;
        background-position-y: 36%;
        background-position-x: 48%;
	}

#wgn:hover {
		background-image: url(../images/ipad.jpg);
            background-size: 181%;
    background-position-x: 48%;
            transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
	}

nav.primary ul li a:active, nav.primary ul li a.selected { 
    border-bottom:1px solid #9e3f38; 
}


html {
    background:#ffffff;
}

@font-face {
    font-family: "LemonMilk";
    src: url('../LemonMilk.otf');
}

body {
    font-family:Lato,sans-serif
}

.wrapper {
    background:#ffffff;
}

.content-inner {
    background:#fff
}

h1,h2,h3,h4,h5,h6,p {
    margin:0 0 1em;
    padding:0
}

a {
    cursor:pointer;
    text-decoration:none!important;
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out;
}

.inline-block {
    display:inline-block;
}

/* Navigation */
.navbar-header{
margin: -15px;
padding:0  15px;
background: #fff;}

.navbar-collapse{
width: 100%;
}

.navbar-toggle {
    border:0;
    border-radius:0;
    margin:20px 15px
}

.navbar-toggle .icon-bar {
    background:#333;
    height:2px;
    border-radius:2px
}

.navbar-brand {
    font-weight:500;
    border:2px solid #44454b;
    margin:15px;
    padding:8px 14px 7px;
    font-size:1.3em;
    height:auto;
    color:#44454b
}

.navbar-brand:hover {
    color:#44454b;
    border-color:#fde3a7
}

.social li a {
    padding-right:0
}

.navbar-nav>li>a {
    display:block;
    margin:12px 0;
    color:#999;
    transition:color .25s ease-in-out;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out
}

.navbar-nav>li>a:hover{
    background:none;
    color:#fde3a7;
}

.navbar-nav>li>a:focus{
    background:none;
 }
 
.social li{
display: inline-block
}

/* Intro */
.intro {
    font-size:1.8em;
    line-height:1.6em;
    font-family: LemonMilk, cursive;
    text-decoration:none;
}

.intro span {
    font-weight:100;
    font-size: 50px;
}


/* Grid List  */
.grid-list-wrapper {
    margin:0 0 4em
}

.grid-list {
    background:#fff;
    margin:0 0 3em
}

.grid-list img {
    width:100%;
    height:auto
}

.overlay a {
    color:#222;
    padding:1em 2em;
    display:block;
}

.overlay h2 {
    font-size:1.2em;
    line-height:1.35em;
    margin:0;
    padding:.5em 0
}

.overlay h3 {
    display:none;
    padding:0;
    font-size:1.2em;
    line-height:1em
}

.overlay span {
    text-transform:uppercase;
    font-weight:100;
    margin-right:1em
}

/* Footer */
footer {
    clear:both;
    padding:1em 0
}

.nav-footer {
    margin:0;
    padding:0
}

.nav-footer ul {
    margin:0;
    padding:0;
    text-align:center
}

.nav-footer li {
    list-style:none;
    margin:.5em;
    display:inline-block
}

.nav-footer a {
    color:#999;
    transition:color .25s ease-in-out;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out
}

.nav-footer a:hover {
    color:#1eadef
}

header {
    margin:15px
}

footer p {
    margin:0
}

.credits {
    color:#44454b;
    font-weight:100;
    margin:7px 0;
}

.navbar-brand-wrapper {
    margin:1em 0 2em;
    opacity:.2
}

footer .navbar-brand {
    float:none;
    text-align:center;
    width:100%
}

footer {
    background:#fff
}

.wrapper footer .container {
    box-shadow:none
}

.grid-list-wrapper li {
    list-style:none;
}
 

@media only screen and (min-width: 320px) {
    background: #fff;
}

@media only screen and (min-width: 480px) {
.container{
    background: #fff;
}

@media only screen and (min-width: 768px) {
.overlay{
min-height: 90px;
}
    
header {
    background:#fff;
    margin:2em 15px;
    padding:20px 30px
}
    
    .navbar-header{
margin: 0;
padding:0;
background: #fff;}

.intro {
    font-size:1.6em;
    margin:0 0 .9em
}

.navbar-nav.social {
    float:right
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
.overlay {
    font-size:120%
}

.wrapper-inner {
    padding:10px 50px
}

.portfolio-item.wrapper-inner {
    padding:1em 10em
}

.overlay h3 {
    display:block;
    line-height:1.5em
}

.overlay h3 span {
    display:block;
    opacity:.34
}

.overlay h3 span:hover {
    opacity:.54
}

header {
    background:#fff;
    margin:0;
    padding:0; 
}

.no-gutter-space {
    margin:0
}

.no-gutter-space > div {
    margin:0;
    padding:0
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    transition:opacity .25s ease-in-out;
    -o-transition:opacity .25s ease-in-out;
    -moz-transition:opacity .25s ease-in-out;
    -webkit-transition:opacity .25s ease-in-out;
    opacity:0;
}
    
.grid-list:hover .overlay {
    opacity:0
}

.overlay a {
    font-size:.8em;
    color:#fff;
    height:100%;
    width:100%;
    display:block
}

.grid-list {
    margin:0;
    padding:0;
}

.navbar {
    padding:0em 2px 1em;
}

.intro {
    padding:0 50px 2em
}

.wrapper .container {
    padding:0;
    background:#fff
}

.wrapper {
    padding:0 0 4em;
    margin:0 0 0;
    clear:both;
}

.wrapper .container {
    box-shadow:0 0 0 rgba(0,0,0,0);
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
.wrapper {
    padding:0 0 5em;
    clear:both
}
}
Status API Training Shop Blog About
Â© 2016 GitHub, Inc. Terms Privacy Security Contact Help
